/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------- */

.sourGummy {
  font-family: "Sour Gummy", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
  background: rgb(3,133,163);
  background: linear-gradient(90deg, rgba(3,133,163,1) 0%, rgba(60,134,199,1) 50%, rgba(3,133,163,1) 100%);
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 60px;
  gap: 6px;
}

h1 {
  text-align: center;
  font-size: 90px;
  color: #ffdfdf;
  margin-top: 56px;
}

#booksContainer, #dialogOpenerBG {
  border-radius: 10px;
  margin: 12px 24px;
  padding: 12px;
  background-color: #ffffff2b;
}

#booksContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2vw;

  background-color: #ffffff2b;
}

.book {
  width: 18vw;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  padding: 12px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-basis: 210px;
  text-align: center;

  background-color: #edf3f3;
  color: #248f24;
}

.bookRemover, .bookReader {
  height: 20px;
  width: 25px;
  border-radius: 6px;
  border: 0;

  position: absolute;
  transition: background-color, color .17s ease,color .17s ease;
}

.bookReader {
  transform: translate(190px, 100px);

  color: #dfeedf;
  background-color: #b7e0b7;
}

.bookReader:hover {
  color: #dfeedf;
  background-color: #326e32;
}

.bookReader:active {
  color: #c1dbc1;
  background-color: #1b441b;
}

.bookUnreader {
  transform: translate(190px, 100px);

  color: rgb(255, 255, 255);
  background-color: #5eb55e;
}

.bookUnreader:hover {
  color: #dfeedf;
  background-color: #326e32;
}

.bookUnreader:active {
  color: #c1dbc1;
  background-color: #1b441b;
}

.bookRemover {
  transform: translate(190px, -100px);

  color: red;
  background-color: #ffb9b9;
}

.bookRemover:hover {
  color: white;
  background-color: rgb(255, 48, 48);
}

.bookRemover:active {
  color: rgb(155, 155, 155);
  background-color: rgb(121, 0, 0);
}

.bookKey {
  font-size: 17px;
  color: #89af80;
}

.bookValue {
  font-size: larger;
}

#dialogOpenerContainer {
  display: flex;
  justify-content: center;
}

#dialogAddBook {
  border: none;
  box-shadow: 0px 0px 8px 3px #919191;
  text-align: center;
  width: 300px;
}

#addBookInstructions {
  font-size: larger;
}

#dialogOpener {
  width: 150px;
  height: 48px;
}

#dialogCloser, #dialogSubmit {
  width: 100px;
  height: 38px;
  margin-top: 12px;
  margin-bottom: 12px;
}

#dialogOpener, #dialogCloser, #dialogSubmit {
  border: none;
  border-radius: 4px;

  font-size: larger;

  color: #ffefef;
  background-color: rgb(227 158 219);

  transition: background-color, color .17s ease,color .17s ease;
}

#dialogOpener:hover, #dialogCloser:hover, #dialogSubmit:hover {
  color: white;
  background-color: rgb(243, 169, 234)
}

#dialogOpener:active, #dialogCloser:active, #dialogSubmit:active {
  color: rgb(99, 94, 94);
  background-color: rgb(121, 70, 115);
}

#dialogCloser {
  margin-bottom: 12px;
}

::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}

#addBookInstructions {
  color: #197419;
}

form > * {
  margin-top: 12px;
  color: #248f24;
}

form p {
  display: flex;
  flex-direction:column;
  gap: 3px;
}

form p.button {
  flex-direction: row;
  justify-content: space-around;
  gap: 15px;
}